.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;

  &__list:not(:first-child) {
    margin-left: 3rem;
  }
}

section {
  margin: 1rem;
}

h2,h4 {
  text-decoration: underline;
}

h3::before {
  content: "- ";
}

section > ul {
  margin: 1rem;
  background: ghostwhite;
  padding-top: 1rem;
  padding-bottom: 1rem;

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  li:not(:last-child)::after {
    content: ",";
  }
  li:last-child::after {
    content: ".";
  }
}

.snippet {
  background-color: black;
  padding: 1rem;
  color: white;
  font-weight: bold;
}