.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: center;
	justify-content: center;

	&__list__button {
		cursor: pointer;
		padding: 0.5rem;
		text-transform: uppercase;
		border-color: #dfdffc;
		border-radius: 3px;
		border-style: solid;
		background-color: #ffffff;
		transition: background-color border-color color;
		transition-duration: 0.3s;

		&--selected {
			font-weight: bold;
			border-color: #8e8eff;
			border-radius: 5px;
			border-style: solid;
		}
	}

	&__list__button:hover {
		background-color: #8e8eff;
		border-color: #8e8eff;
		color: #ffffff;
	}
	&__list:not(:first-child) {
		margin-left: 3rem;
	}
}

section {
	margin: 1rem;
}

h1 {
	text-align: center;
}

h2 {
	margin-top: 4rem;
}

h4 {
	text-decoration: underline;
}

h3::before {
	content: "- ";
}

section > ul {
	background: #c4c4ff;

	li:not(:last-child) {
		margin-bottom: 0.5rem;
	}
	li:not(:last-child)::after {
		content: ",";
	}
	li:last-child::after {
		content: ".";
	}
}

.block {
	margin: 1rem;
	border-radius: 5px;
	box-shadow: 0 3px 3px #dfdffc;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-inline-start: 40px;
	padding-inline-end: 20px;
}

.tips {
	background-color: #fce8b5;
}

.snippet {
	cursor: pointer;
	position: relative;
	background-color: #000000;
	padding: 1rem;
	color: white;
	border-radius: 10px;
	font-weight: bold;
	border-radius: 10px;
	box-shadow: 0 3px 3px #dfdffc;
	transition: background-color color;
	transition-duration: 0.3s;
}

.snippet > p::before {
	content: "click to copy to clipboard";
	text-decoration: underline;
	top: 0.5rem;
	right: 0.5rem;
	position: absolute;
	font-weight: initial;
	font-size: small;
}

.snippet:hover {
	background-color: whitesmoke;
	color: black;
}

.section {
	&__title {
		&--before-starting::before {
			content: "🔎 ";
		}
		&--install::before {
			content: "🧰 ";
		}
		&--tips::before {
			content: "💡 ";
		}
		&--refactor-validation::before {
			content: "✅ ";
		}
		&--subject::before {
			content: "📄 ";
		}
		&--refactor::before {
			content: "🆘 ";
		}
	}
}
