.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
}

.area {
  height: 100vh;
  overflow-y: scroll;

  &--documentation {
    background-color: white;
    padding: 0 1rem 0 1rem;
  }
  &--form {
    background-color: whitesmoke;
  }
}
